<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::title}, ~{::div#page-wrapper})}">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
</head>
<body>
<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Access Denied</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
</body>
</html>